
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>left</title>
    <link href="../css/eys_stly.css" rel="stylesheet" type="text/css" />
</head>

<body  style="overflow-x:hidden">
<div class="left1">
    <ul>
        <li><div class="div_icon"><a href="/view/index" target="rightFrame">首页</a></div></li>
        <li><div class="div_icon"><a href="/view/download" target="rightFrame">商品管理</a></div></li>
        <li><div class="div_icon"><a href="/user/user_management" target="rightFrame">用户管理</a></div></li>
        <li><div class="div_icon"><a href="/view/Home" target="rightFrame">订单管理</a></div></li>
    </ul>
</div>
</body>
</html>